name: Client CI/CD

on:
  push:
    paths:
        - "apps/client/**"
        - "shared/**"
    branches: [ "main" ]
  pull_request:

jobs:
  install:
    name: Run Bun Install & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: cd apps/client && bun run build

  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: install

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU for ARM emulation
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image for ARM64
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.client
          platforms: linux/arm64
          push: true
          tags: tsecretino/lancache-manager-client
